
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../layout/head') %>
  </head>

  <body>
    <header>
      <%- include('../../layout/header') %>
    </header>

    <main>
        <h3> Search by Title or Author</h3>
        <form action="/searches" method="POST">
            <input type="text" placeholder="Enter a title or author" name="search">

            <label class="radio-one">
                <span>Title</span>
                <input type="radio" name="search" value="title" />
            </label>

            <label class="radio-two">
                <span>Author</span>
                <input type="radio" name="search" value="authors" />
            </label>

            <input type="submit" value="Search the Google Books API">
        </form>

    </main>

    <footer>  <%- include('../../layout/footer') %> </footer>


</body>

</html>