<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

   
    <div>
        <% books.forEach(data { %>
        <p>Book Tilte</p>
        <li><%= data.volumeInfo.title %></li>
        <p>The author</p>
        <li><%=  data.volumeInfo.authors[0] %></li>
        <p>The description</p>
        <li><%= data.volumeInfo.description %></li>
        <p>The imageLinks</p>
        <li> <img src="<%= data.volumeInfo.imageLinks.thumbnail %>" alt="image"></li>
        <% }); %>

     </div>

</body>
</html>

