body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e0e1e2;
  height: 100%;
}



@media screen and (max-width: 600px) {
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0e1e2;
    height: 100%;
  }
}